.Hero{
  width: 100%;
  height: 95vh;
}
.Hero h1{
  padding: 20%;
  text-align: center;
  text-shadow: gainsboro;
  font-family: 'Tilt Warp', cursive;
}
#SocalMedia{
  margin-left: 36%;
  width: 90%;
}
#SocalMedia a{
  color: rgb(72, 71, 71);
}
#SocalMedia a:hover{
  color:white;
}

/* About section start form here */
.AboutSection{
  font-family: 'Libre Baskerville', serif;
  padding: 2%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(29, 26, 26);
}
.AboutSection img{
  margin-left: 30%;
  height: 58vh;
  width: 70%;
  border-left: 1px solid rgb(155, 153, 153);
  border-bottom: 1px solid rgb(132, 117, 117);
}
.AboutSection img:hover{
  background-color: rgb(12, 12, 12);
}

/* Dark mode toggler css here */
 .darkModeToggle{
    font-size: 3rem;
    color: rgb(252, 6, 109);
    margin-top: -6%;
    /* float: right;
    margin-right: 2.2%; */
    margin-left: 96%;
    position: fixed;
  }  
.dark *{
  background-color: white;
  color: black;
}

